@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Sriracha&display=swap');

@font-face{
    font-family : 'Montserrat', sans-serif;
}

:root{
    --corFundo:#bbadffb1;
    --cor:#4b2749;
    --corB:#8E94F2;
    --corBotao: #564787;
    --corLetra: #ffffff;

    --fonteMontserrat: 'Montserrat', sans-serif;
}

* {
    margin: 0px;
    padding: 0px;

    }



body{
    font-family: var(--fonteMontserrat);
  
}

@media screen and (max-width: 768px) {
    html, body{
        width: 100%;
        padding: 0px;
        margin: 0px;
    }
}

@media screen and (max-width: 600px) {
   html, body{
        width: 100vh;
        padding: 0px;
        margin: 0;
    }  
} 

@media screen and (max-width: 460px) {
   footer{
         padding: 0px;
         margin: 0;
         max-width: 100vh;
     }
 } 


header{
    background-color: var(--corFundo);
    background-attachment: fixed;
}

.botao{
    width: 100px;
    height: 30px;
    padding-top: 5px;
    padding-bottom: 5px;
    border: solid 1px var(--corB);
    border-radius: 10px;
    color: var(--corBotao);
    background-color: white;
    transition: background-color 0.5s ease, color 0.5s ease, transform 0.5s ease;
    font-size: 16px;
    line-height: 125%;
    margin-right: 5px;
}

.icon{
    margin-right: 5px;
}

.container#botoes{
    align-items: center;
    padding-bottom: 5px;
    display: flex;
}

.botao:hover{
    background-color: var(--corBotao);
    color: white;
    transform: scale(1.1);
}

.container{
    padding-top: 40px;
    padding-left: 40px;
    padding-right: 50px;
    padding-bottom: 20px;
    background-attachment: fixed;
    
}
.container > img{
    float: right;
    margin-left: 10px;
    margin-top: 15px;
    display: block;
    min-height: 150px;
    border-radius: 105px;
    outline: 10px white;
    outline-style:solid;
    
}



.container > p{
    text-align:  justify;
    line-height: 1.5em;
    font-size: 1em;
    margin-right: 300px;
    padding-bottom: 18px;
    padding-right: 10px;
    max-width: 900px;
    margin-right: 0px;
   
}

.container>h1{
    font-size: 3em;
    font-weight: normal;
    margin-bottom: 5px;
    color: rgba(0, 0, 0, 0.823);
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.267);
}

.container>h3{
    color: var(--cor);
    font-size: 1.2em;
    font-weight: bold;
    font-style: italic;
    padding-right: 10px;
    padding-bottom: 10px;
}


main>section{
    padding-top: 10vh;
    padding-bottom: 75px;
    padding-left: 40px;
    padding-right: 40px;
}
main{
    margin: auto;
    background-color: white;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.354);

    background-attachment: fixed;
    display: fixed;
}

.secoes>img{
    float: left;
    padding-right: 13px;
}

.secoes{
    padding: 2px 10px 10px 7px;
    align-items: center;
    display: flex;
}

.habilities{
    justify-content: flex-start;
    }

.habilities>p{
    float: left;
    display: flex;
    font-weight: bold;
    background-color: rgba(240, 255, 255, 0.607);
    text-indent: 7px;
    padding: 0px 5px 0px 0px;
    margin: 0px 0px 0px 13px;
    border: 1px solid rgba(0, 0, 0, 0.315);
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.541);
    border-radius: 10px;
    margin-top: 5px;
    
}

.experiencia{
    justify-content: flex-start;
    background-color: #4b2749;
    }

section > h3{
    padding-bottom: 5px;
    
}

section > p{
    text-align: justify;
    line-height: 1.5em;
    font-size: 1em;
    margin-right: 300px;
    padding-bottom: 5px;
    padding-right: 10px;
    max-width: 900px;
    margin-right: 0px;
    margin-left: 50px;
   
}

.date{
    padding: 2px 10px 10px 7px;
    align-items: center;
    display: flex;
}

.funcao .date > h3{
    margin-left: 17px;
    margin-right: 20px;
}

.funcao{
    border: 1px solid rgba(0, 0, 0, 0.161);
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.541);
    border-radius: 10px;
    padding-top: 7px;
    padding-bottom: 7px;
    line-height: 2em;
    margin-bottom: 7px;
    background-color: rgba(240, 255, 255, 0.241);
}

.funcao > p{
    text-align: justify;
    margin-left: 40px;
    margin-right: 25px;
}

#experiencia{
    padding-bottom: 0px;
}

#language, .cursos p{
    text-align: justify;
    text-indent: 30px;
    font-size: 1em;
    line-height: 1.5em;
}

#language{
    margin-top: 0px;
    padding-bottom: 5px;
    float: left;
    background-color: rgba(240, 255, 255, 0.241);
    padding-right: 20px;
    width: max-content;
    border: 1px solid rgba(0, 0, 0, 0.315);
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.541);
    border-radius: 10px;
   
}

#language > p > abbr > a{
    text-decoration: none;
    color: #4b2749;
    font-weight: bold;
}

#language > p > abbr > a:hover{
    text-decoration: underline;
    color: cadetblue;
    padding: 5px 5px;
    background-color: cornsilk;
    border-radius: 10px;
}

#language > p > abbr{
    text-decoration: none;
}

.cursos{
    border: 1px solid rgba(0, 0, 0, 0.315);
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.541);
    border-radius: 10px;
    padding-top: 7px;
    padding-right: 10px;
    padding-left: 25px;
    padding-bottom: 7px;
    line-height: 2em;
    margin-bottom: 7px;
    background-color: rgba(240, 255, 255, 0.241);
}

.cursos a{
    text-decoration: none;
    color: var(--cor);
    font-weight: bold;
}

.cursos a:hover{
    text-decoration: underline;
    color: cadetblue;
    padding: 5px 5px;
    background-color: cornsilk;
    border-radius: 10px;
}

footer{
    text-align: center;
    padding: 10px 10px 10px 10px;
    background-color: var(--corFundo);
}

footer a{
    text-decoration: none;
    color: #4b2749;
    font-weight: bold;
}

footer a:hover{
    color: #564787;
    text-decoration: underline;
}
